h1.hero-title {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    width: 844px;
    margin: 85px auto 90px;
}

.sec-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}

.hero-stats {
    width: 1050px;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #DCDEDD;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.17));
    border-radius: 20px;
    background-color: #fff;
}

.stats-box {
    width: 100%;
    text-align: center;
    height: 100%;
    border: 2px solid #DCDEDD;
    box-sizing: border-box;
}

.stats-funds {
    border-radius: 18px 0 0 18px;
}

.stats-donors {
    border-radius: 0 18px 18px 0;
}

h2.stats-title {
    font-weight: normal;
    font-size: 54px;
    line-height: 63px;
    color: #315659;
    margin-bottom: 0;
    margin-top: 41px;
}

p.stats-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
}

.stats-money {
    font-size: 44px !important;
    margin-top: 48px;
}

.hero-donors {
    margin-top: 95px;
    background: rgba(2, 169, 92, 0.1);
    width: 100%;
    overflow: hidden;
    margin-bottom: 80px;
}

.donors-list {
    margin-left: -80px;
}

li.donor-item > img {
    width: 100px;
    height: 100px;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 100px;
}
.hero-donors-profile {
    margin-bottom: 45px;
}