.header {
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    height: 80px;
}

.align-center {
    align-self: center;
}

.logo-container>img {
    height: 60px;
}

.header>div>ul {
    margin: 0 95px;
}

.right-section>ul {
    float: right;
}

.dark-nav {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #315659;
    margin-right: 40px;
}

.nav-link {
    font-weight: 300;
    font-size: 21px;
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}

li.nav-item > button {
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    width: 180px;
    height: 50px;
    border: 2px solid #02A95C;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
}

.dark-nav {
    font-weight: 500!important;
    text-decoration-line: underline!important;
    color: #315659!important;
}
