<hr style="border: 1px solid rgba(196, 196, 196, 0.6);">
<div class="footer ">
    <div class="footer-main flex">
        <div class="logo">
            <img class="footer-logo" src="assets/images/logo.png" alt="" srcset="">
            <p class="footer-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="footer-links-first">
            <h3 class="links-heading">Services</h3>
            <ul >
                <li class="list-item">Email Marketing</li>
                <li class="list-item">Campaings</li>
                <li class="list-item">Branding</li>
                <li class="list-item">Offline</li>
            </ul>

            

        </div>
        <div class="footer-links-second">
            <h3 class="links-heading">About</h3>
            <ul >
                <li class="list-item">Our Stories</li>
                <li class="list-item">Team</li>
                <li class="list-item">Carrers</li>
                <li class="list-item">Benefits</li>
            </ul>
        </div>

        <div class="footer-links-third">
            <h3 class="links-heading">Follow Us</h3>
            <ul >
                <li class="list-item">Facebook</li>
                <li class="list-item">Twitter</li>
                <li class="list-item">Youtube</li>
               
            </ul>
        </div>
    </div>

    <div class="footer-last-sec flex" style="width: 1480px;">
        <div class="copyright">
            <p>Copyright © 2021. Logo. All rights reserved.</p>
        </div>
        <div class="last-cloumn flex">
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</div>