.footer {
    width: 100%;
    height: 100%;
    margin-left: 150px;
}

.footer-logo {
    margin-top: 60px;
    margin-left: 185px;
    height: 40px;
    margin-bottom: 20px;

}

.footer-text {
    margin-left: 185px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 315px;
    margin-bottom: 100px;
}

.footer-links-first {
    margin-top: 60px;
    margin-left: 185px;
    height: 60px;
    margin-bottom: 20px;
    
}

.links-heading {
    color: #02A95C;
    font-family: "DM Sans";
    font-size: 17px;
}

.list-item {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: "DM Sans";
    margin-bottom: 20px;
}

.footer-links-second {
    margin-top: 60px;
    margin-left: 185px;
    height: 60px;
    margin-bottom: 20px;
}


.footer-links-third {
    margin-top: 60px;
    margin-left: 185px;
    height: 60px;
    margin-bottom: 20px;
}
