<div class="fund-donation">
    <div class="fund-stats">
        <p><span>29,000/Rs Raised</span> of 84,000/Rs</p>
        <progress id="stats-bar" max="100" value="20">20%</progress>
        <div class="flex stats-info">
            <p><span>92</span> Donations</p>
            <p><span>17</span> Days to go</p>
        </div>
    </div>
    <div class="fund-button">
        <button>Donate Now</button>
    </div>
    <div class="fund-info">
        <ul class="info-list">
            <li class="info-item flex">
                <div class="info-logo">
                    <span
                    class="iconify"
                    data-icon="ri:user-heart-line"
                    style="color: white"
                    ></span>
                </div>
                <div class="info-data">
                    
                </div>
            </li>
        </ul>
    </div>
</div>