<div class="fund-donation">
  <div class="fund-stats">
    <p><span>29,000/Rs Raised</span> of 84,000/Rs</p>
    <progress id="stats-bar" max="100" value="20">20%</progress>
    <div class="flex stats-info">
      <p><span>92</span> Donations</p>
      <p><span>17</span> Days to go</p>
    </div>
  </div>
  <div class="fund-button">
    <button class="bg-green">Donate Now</button>
  </div>
  <div class="fund-info">
    <ul class="info-list">
      <li class="info-item flex">
        <div class="info-logo">
          <span
            class="iconify"
            data-icon="ri:user-heart-line"
            style="color: #02a95c"
          ></span>
        </div>
        <div class="info-detail">
          <p class="list-name">Mile Mouralis</p>
          <div class="flex list-price">
            <p>1,200 Rs</p>
            <div class="break"></div>
            <span>Recent</span>
          </div>
        </div>
      </li>
      <li class="info-item flex">
        <div class="info-logo">
          <span
            class="iconify"
            data-icon="ri:user-heart-line"
            style="color: #02a95c"
          ></span>
        </div>
        <div class="info-detail">
          <p class="list-name">Junaid Hashim</p>
          <div class="flex list-price">
            <p>8,000 Rs</p>
            <div class="break"></div>
            <span>Top</span>
          </div>
        </div>
      </li>
      <li class="info-item flex">
        <div class="info-logo">
          <span
            class="iconify"
            data-icon="ri:user-heart-line"
            style="color: #02a95c"
          ></span>
        </div>
        <div class="info-detail">
          <p class="list-name">Fiza Mueen</p>
          <div class="flex list-price">
            <p>800 Rs</p>
            <div class="break"></div>
            <span>First</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="flex social-container">
  <div class="social-box">
    <a href="#">
      <span
        class="iconify"
        data-icon="dashicons:facebook-alt"
        style="color: white"
      ></span>
    </a>
  </div>
  <div class="social-box">
    <a href="#">
      <span
        class="iconify"
        data-icon="fa-brands:twitter"
        style="color: white"
      ></span>
    </a>
  </div>
  <div class="social-box">
    <a href="#">
      <span
        class="iconify"
        data-icon="fa-solid:envelope"
        style="color: white"
      ></span>
    </a>
  </div>
</div>
