<div class="mainbodydiv">
    <div>
        <input class="title" type="title" value="Title">
        <br>
        <input class="money" type="Money" value="Money">
        <br>
        <textarea class="message" name="" id="" cols="30" rows="10" placeholder="   Description"></textarea>
        <br>
        <p class="para1">Before adding your request please readout the <a class="tag1" href="#">How It Works</a>
        page to know how our <br> service works</p>
        <div class="card">
                <img class="img1" src="" alt="" placeholder="Add feather image">
                <input class="option" type="text" name="" id="" placeholder="Days Limit(option)">
                <input class="option" type="phone" name="" id="" placeholder="Phone">
                <input class="address" type="address" name="" id="" placeholder="address">
                <p class="paraPhotos">Extra Photos (Slip/Cover)</p>
                <p><input class="pic1upload" type=" image" name="" id="">
                    <input class="pic1upload" type=" image" name="" id="">
                    <input class="pic1upload" type=" image" name="" id="">
                                </p>
                <input class="referenceID" type="reference" name="" id="" placeholder="reference ID">
                <button class="btn1">Submit</button>
        </div>
    </div>
   

</div>
