<div class="pop-products">
  <h3 class="sec-title" style="margin-top: 40px">POPULAR FUNDRAISERS</h3>
  <div class="popular-prod">
    <ul class="pop-prod-list flex">
      <li class="pop-prod-item">
        <div class="pop-image">
          <img
            src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
            alt=""
          />
        </div>
        <div class="pop-info">
          <div class="info-location flex">
            <span
              class="iconify"
              data-icon="el:map-marker"
              style="color: white"
            ></span>
            <p>Air University, Islamabad</p>
          </div>
          <h2 class="info-title">Books for BS in Medical Science</h2>
          <div class="info-stats">
            <p class="stats-time">Last Donation 3h ago</p>
            <progress id="stats-bar" max="100" value="45">45%</progress>
            <p class="stats-num"><span>1800/Rs Raised</span> of 4300/Rs</p>
          </div>
        </div>
      </li>
      <li class="pop-prod-item">
        <div class="pop-image">
          <img
            src="https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80"
            alt=""
          />
        </div>
        <div class="pop-info">
          <div class="info-location flex">
            <span
              class="iconify"
              data-icon="el:map-marker"
              style="color: white"
            ></span>
            <p>Air University, Islamabad</p>
          </div>
          <h2 class="info-title">Admission Fee for BS in Computer Science</h2>
          <div class="info-stats">
            <p class="stats-time">Last Donation 30m ago</p>
            <progress id="stats-bar" max="100" value="20">20%</progress>
            <p class="stats-num"><span>29,000/Rs Raised</span> of 84,000/Rs</p>
          </div>
        </div>
      </li>
      <li class="pop-prod-item">
        <div class="pop-image">
          <img
            src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt=""
          />
        </div>
        <div class="pop-info">
          <div class="info-location flex">
            <span
              class="iconify"
              data-icon="el:map-marker"
              style="color: white"
            ></span>
            <p>Air University, Islamabad</p>
          </div>
          <h2 class="info-title">Books for MS in English Literature</h2>
          <div class="info-stats">
            <p class="stats-time">Last Donation 18h ago</p>
            <progress id="stats-bar" max="100" value="97">97%</progress>
            <p class="stats-num"><span>7700/Rs Raised</span> of 8000/Rs</p>
          </div>
        </div>
      </li>
      <li class="pop-prod-item">
        <div class="pop-image">
          <img
            src="https://images.unsplash.com/photo-1592280771190-3e2e4d571952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
            alt=""
          />
        </div>
        <div class="pop-info">
          <div class="info-location flex">
            <span
              class="iconify"
              data-icon="el:map-marker"
              style="color: white"
            ></span>
            <p>Air University, Islamabad</p>
          </div>
          <h2 class="info-title">3rd Semester Fee of BS in Physics</h2>
          <div class="info-stats">
            <p class="stats-time">Last Donation 5m ago</p>
            <progress id="stats-bar" max="100" value="2">2%</progress>
            <p class="stats-num"><span>1000/Rs Raised</span> of 77,000/Rs</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
