<div class="profile-donations">
  <h3 class="main-title">Recent Donations</h3>
  <p class="main-month">Jan 2022</p>
  <div class="recent-donations-container">
    <ul>
      <li class="recent-list flex" *ngFor="let item of [1, 2, 3]">
        <div class="recent-data flex">
          <div class="recent-image">
            <img src="assets/images/book.jpg" alt="" />
          </div>
          <div class="main-recent">
            <h4 class="recent-tile">Books for BS in Medical Science</h4>
            <div class="flex recent-location">
              <span
                class="iconify"
                data-icon="el:map-marker"
                style="color: white"
              ></span>
              <p>Air University, Islamabad</p>
            </div>
            <p class="green">Rs. 600</p>
          </div>
          <p class="recent-date">13/01/2022</p>
        </div>
      </li>
    </ul>
  </div>
</div>
