h3.main-title {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
}

p.main-month {
  box-shadow: 0 0 12px rgb(0 0 0 / 30%);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  text-align: center;
  color: #949494;
}

.recent-donations-container {
  padding: 0 10px;
}

.recent-image > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 30px;
}

h4.recent-tile {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 15px;
}

p.recent-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-top: 8px;
  margin-left: auto;
}

.recent-data {
  width: 100%;
}

li.recent-list {
  margin-bottom: 20px;
}

.main-recent > p {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  margin-top: revert;
}

.recent-location > p {
  margin: 0;
}
