<div class="mainbody">
    <div class="card">
        <div class="div4">
            
                <img src="/src/assets/images/cambridge.jpeg" alt="" class="img1">
                <h1 class="heading1">Admission Fee for BS in <br> Computer Science</h1>
                <p class="para1">by <a href="#">Arzu Shehzad</a></p>
                <p class="amount">Amount <button class="btn1"> 5000 | Rs    </button></p>
                
        </div>
        
        
    </div>
    <div class="title">
        <h1>Donate To Title</h1>
        <p>and we'll send you updates from Arzu shehzad about your impact!</p>
        <input class="ema" type="email"><br>
        <input class="pas" type="password">
        <p>Don't have an account?<a href="#">Register Here!</a></p>
        <p>Credit Card <a href="#"> JazzCash</a> <a href="#">Easypaisa</a></p>
        <p><input class="crdn" type="Card No"> <input class="cvv" type="CVV" value="CVV"></p>
        <p><input class="dob" type="dob" value="Date of Birth"> <input class="dox" type="dox" value="date of expiry"></p>
        <input class="btn2" type="button" value="Donate">
</div>
    
    
</div>




<div >
    <div>
        <div class="card1">
            <div >
                
                    <img src="/src/assets/images/cambridge.jpeg" alt="" class="img2"><a class="titletag" href="#">Arzu Shehzad</a>
                    
                    <p class="amount1">Amount <button class="btnN"> 5000 | Rs    </button></p>
                    <p class="paraN">One Time <input class="range" type="range" name="" id=""> Monthly</p>
                    
                    <p class="lable">We will cut out the money <br> from your account every <br>  month!</p>
            </div>
            <p class="NewPara" >To see how we use your donation's check out <a href="#">how it works</a>page</p>
            
            
        </div>
        <div class="title2">
            <h1>Donate for Needy One's</h1>
            <p>and we'll send you updates from Arzu shehzad about your impact!</p>
            
            <p>Credit Card <a class="jazzcash" href="#"> JazzCash</a> <a href="#">Easypaisa</a></p>
            <p><input class="crdn1" type="Card No" value="Card No"> <input class="cvv1" type="CVV" value="CVV"></p>
            <p><input class="dob1" type="dob" value="Date of Birth"> <input class="dox1" type="dox" value="date of expiry"></p>
            <input class="btn3" type="button" value="Donate">
    </div>
    </div>
   



</div>