.mainbody{
    width: 1500px;
    
}


.card{
  background-color: white;
  width: 300px;
  height: 370px;
  border: .5px solid white;
  box-sizing: border-box;
  margin-left: 170px;
  margin-top: 70px;
  border-radius: 15px;
  
  
 
  
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.img1{
    
    width: 270px;
    height: 150px;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 15px;

    
    
}
.heading1{
    font-size: 22px;
    margin: 15px;
}
.para1{
    margin: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.amount{
    margin-left: 15px;
    margin-top: 25px;
    font-size: 21px;
line-height: 25px;
    
}
.btn1{
    
 margin-left: 50px;
 font-size: 20px;
 border-radius: 15px;
 width: 130px;
 height: 40px;
 background: #FFFFFF;
 
 box-sizing: border-box;
 
 
}
.title{
    
    margin-left: 520px;
    margin-top: -400px;
    
}
.ema{
    width: 420px;
    height: 30px;
    background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 20px;

}
.pas{
    margin-top: 30px;
    width: 420px;
    height: 30px;
    background: #FFFFFF;
border: 1px solid #C4C4C4;
box-sizing: border-box;
border-radius: 20px;
}

.pNum{
    width: 420px;
    height: 40px;
    background: #FFFFFF;
box-shadow: 0px 0px 8px #02A95C;
border-radius: 20px;
border: 1px solid#C4C4C4;
}
.btn2{
    width: 420px;
    height: 40px;
    border-radius: 20px;
    background: #02A95C;
border: 1px solid #02A95C;
box-sizing: border-box;

}


.card1{
    
    width: 300px;
    height: 390px;
    border: .5px solid white;
    
    margin-left: 170px;
    margin-top: 100px;
    border-radius: 15px;
    margin-bottom: 100px;
    
    
   
   
  
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    
    
  }
  .img2{
    
    width: 150px;
    height: 100px;
    margin-top: 15px;
    border-radius: 30px;
    margin-left: 15px;

    
    
}
.titletag{
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
font-size: 15px;
line-height: 28px;
text-align: center;

color: #02A95C;
}
.amount1{
    margin-left: 15px;
    margin-top: 25px;
    font-size: 21px;

   
line-height: 25px;
}
.btnN{
    margin-left: 60px;
    font-size: 22px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 15px;
    width: 130px;
 box-sizing: border-box;
    
   }
.paraN{
    margin-left: 15px;
    font-size: 20px;
    margin-top: -10px;
}
.range{
    width: 30px;
    margin: 20px;
}
.lable{
  
    margin-left: 15px;
    background-color: rgb(238, 235, 235);
    font-size: 15px;
    width: 230px;
    height: 35px;
    padding: 20px;
    background: rgba(2, 169, 92, 0.2);
border-radius: 20px;
    
}
.title2{
    
    margin-left: 520px;
    margin-top: -400px;
    font-size: 22px;
    margin-bottom: 100px;
    
}
.easypaisa{
    padding: 30px;
    font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: rgba(0, 0, 0, 0.6);

font-style: normal;


}
.jazzcash{
  
   
font-style: normal;
    
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}


.btn3{
    width: 420px;
    height: 40px;
    border-radius: 20px;
    background: #02A95C;
border: 1px solid #02A95C;
box-sizing: border-box;

}
.NewPara{
   
    padding: 30px;
}