<div class="flex" style="margin-top: 100px; justify-content: center">
  <div class="menu-box">
    <ul class="menu-list">
      <li class="menu-item"><button>Account</button></li>
      <li class="menu-item"><button class="active">Donations</button></li>
      <li class="menu-item"><button>Settings</button></li>
      <li class="menu-item"><button>Terms & Conditions</button></li>
    </ul>
  </div>
  <div class="profile-data-container">
    <app-profile-data id="Account" class="tabcontent none"></app-profile-data>
    <app-profile-donations
      id="Donations"
      class="tabcontent"
    ></app-profile-donations>
  </div>
</div>
