<div class="fund-summary">
  <div class="summary-image">
    <img
      src="https://images.unsplash.com/20/cambridge.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=847&q=80"
      alt=""
    />
  </div>
  <div class="summary-stats flex">
    <p class="summary-date">Created 4 days ago</p>
    <span>|</span>
    <p class="summary-place">Air University</p>
  </div>
  <div class="summary-desc">
    <h4>Summary</h4>
    <p>
      Madagascar is facing one of the world's first climate-caused famines. More
      than one million people need help right now. The famine follows four years
      of intense droughts, with conditions worsened as a result of the COVID-19
      pandemic.
    </p>
    <h4>How Your Donation Will Be Used</h4>
    <ul>
      <li>Provide food, water, and emergency supplies</li>
      <li>Help families avoid starvation</li>
      <li>Support nonprofits focused on famine relief in Madagascar</li>
    </ul>
  </div>
  <div class="summary-menu">
    <div class="menu-nav">
      <ul class="flex">
        <li>
          <button class="active">Contact Fund Raiser</button>
        </li>
        <li>
          <button>COMMENTS</button>
        </li>
        <li>
          <button>DONORS</button>
        </li>
        <li>
          <button>Question Admin</button>
        </li>
      </ul>
    </div>
    <div class="menu-details">
      <div class="menu-profile flex">
        <div class="profile-image">
          <img
            src="https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"
            alt=""
          />
        </div>
        <div class="profile-data">
          <a href="#" class="green">Arzu Shehzad</a>
          <p>Email: <span>arzushahzad111@gmail.com</span></p>
          <p>Phone: <span>+92 341 68413253</span></p>
          <p>Facebook: <span>@arzu_shahzad</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
