/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.green {
    color: #02A95C;
}

.bg-green {
    background-color: #02A95C
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}