<div class="main-body">

    <p class="recent-fundraiz">RECENT FUNDRAISERS</p>
   
        <div class="recent-donations-container">
            <ul>
              <li class="recent-list flex"  >
                <div class="recent-data flex">
                  <div class="recent-image">
                    <img src="assets/images/book.jpg" alt="" />
                  </div>
                  <div class="main-recent">
                    <div class="flex recent-location">
                      <span
                        class="iconify"
                        data-icon="el:map-marker"
                        style="color: rgb(131, 130, 130)"
                      ></span>
                      <p>Air University, Islamabad</p>
                    </div>
                    <h4 class="recent-tile">Books for BS in Medical Science</h4>
                    
                    <div class="info-stats">
                      

                      <p class="stats-time">Last Donation 3h ago</p>
                      <p class="stats-num"><span>1800/Rs Raised</span> of 4300/Rs</p>
                      
                      <progress id="stats-bar" max="100" value="45">45%</progress>
                      <div>
                        <button class="btn">Donate</button>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </li>
            </ul>
          </div>
          <br>
          <div class="recent-donations-container">
            <ul>
              <li class="recent-list flex"  >
                <div class="recent-data flex">
                  <div class="recent-image">
                    <img src="assets/images/book.jpg" alt="" />
                  </div>
                  <div class="main-recent">
                    <div class="flex recent-location">
                      <span
                        class="iconify"
                        data-icon="el:map-marker"
                        style="color: rgb(131, 130, 130)"
                      ></span>
                      <p>Air University, Islamabad</p>
                    </div>
                    <h4 class="recent-tile">Books for BS in Medical Science</h4>
                    
                    <div class="info-stats">
                      

                      <p class="stats-time">Last Donation 3h ago</p>
                      <p class="stats-num"><span>1800/Rs Raised</span> of 4300/Rs</p>
                      
                      <progress id="stats-bar" max="100" value="45">45%</progress>
                      <div>
                        <button class="btn">Donate</button>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </li>
            </ul>
          </div>
          <br>
          <div class="recent-donations-container">
            <ul>
              <li class="recent-list flex"  >
                <div class="recent-data flex">
                  <div class="recent-image">
                    <img src="assets/images/book.jpg" alt="" />
                  </div>
                  <div class="main-recent">
                    <div class="flex recent-location">
                      <span
                        class="iconify"
                        data-icon="el:map-marker"
                        style="color: rgb(131, 130, 130)"
                      ></span>
                      <p>Air University, Islamabad</p>
                    </div>
                    <h4 class="recent-tile">Books for BS in Medical Science</h4>
                    
                    <div class="info-stats">
                      

                      <p class="stats-time">Last Donation 3h ago</p>
                      <p class="stats-num"><span>1800/Rs Raised</span> of 4300/Rs</p>
                      
                      <progress id="stats-bar" max="100" value="45">45%</progress>
                      <div>
                        <button class="btn">Donate</button>
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
              </li>
            </ul>
          </div>

    <p class="circle"></p>



    
</div>
